body {
  padding: 2em; }

h1, p {
  margin: 0; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.item {
  text-align: center;
  display: inline-block;
  background: #fefefe;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 10px;
  padding: 5px;
  background: -webkit-linear-gradient(45deg, white, #f9f9f9);
  width: 200px;
  height: 380px; }
  .item.inactive {
    opacity: 0.5; }
  .item.active {
    opacity: 1; }
  .item img {
    max-width: 200px;
    max-height: 200px; }

.highlighted {
  background-color: yellow; }
