body {
  padding: 2em;
  background: #f2f2f2; }

h1, p {
  margin: 0; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.item {
  text-align: center;
  display: inline-block;
  background: #fefefe;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding: 10px 10px 20px 10px;
  margin: 5px;
  background: white;
  width: 300px; }
  .item img {
    width: 100%; }

.filters {
  margin: 0;
  margin-left: 10px;
  padding: 0; }
  .filters li {
    list-style: none; }
    .filters li span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: black 1px solid; }
      .filters li span.active {
        background: black; }
